a {
  text-decoration: none;
  color: #2268DD;
}
a:hover {
 cursor:pointer;
}
body {
    background: #DFDFCF;
}
p {
  font-size: 19px;
}
nav {
  padding-top: 25px;
}

#page-header {
  text-align: center;
}
#page-footer {
  margin-top: 10rem;
  text-align: center;
}
@media (min-width: 550px) {
  .post-container {
    text-align: left;
  }
  #page-header {
    text-align: left;
  }
}
.main {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  padding: 1rem;
}

/* Navigation */
.main-navigation > li {
  display: inline-block;
  text-decoration: none;
}
.main-navigation > li {
  margin-left: 40px;
}
.main-navigation a {
  color: #555;
}
.navigation .button {
  border: none;
}

.small-nav {
  display: none;
  text-align: center;
  list-style-type: none;
}

 /* Post content */
.post-main {
  background-color: rgba(245, 245, 245, 0.3);
}
.post-content > .row {
  padding: 1em 2em;
}
.post-body {
  margin-top: 5px;
}

.series-main {
  padding: 0.5rem 2rem;
}
.sidebar {
  padding-left: 2em;
}

 /*About Page */
#about-page {
  padding: 20px 20px 20px 20px
}
.about-page-photo-overlay {
  min-height: 340px;
  background-color: rgba(245, 245, 245, 0.3);
}
.about-page-photo {
  background: url(../images/apairatbeachsm2.jpg);
  background-repeat: no-repeat;
  /*background-size: contain;*/
  background-position: center center;
}
.about-page-content {
  min-height: 340px;
  background-color: rgba(245, 245, 245, 0.3);
  padding-left: 1rem;
}

 /*Admin Pages */
a.admin-button {
  border: none;
  background-color: rgba(245, 245, 245, 0.5);
}

tr.admin-editable {
  text-decoration: none;
  color: #222;
}

tr.admin-editable:hover {
  background-color: rgba(245, 245, 245, 0.3);
  color: #2268DD;
}
.post-body-input {
  height: 1500px;
}
.post-synopsis-input {
  height: 300px;
}

input#title {
  width: 90%;
}
.add-new {
  font-size: 40px;
}

 /*Generic Media Queries */
/* Larger than phablet (also point when grid becomes active) */
@media (max-width: 750px) {
  .small-nav {
    display: block;
  }
  .main-navigation {
    display: none;
  }
  .navigation .three {
    text-align: center;
  }

}
/* Larger than mobile */
@media (max-width: 400px) {

}
@media (min-width: 400px)  and (max-width: 750px) {

}
/* Larger than tablet */
@media (max-width: 750px) {
}
.button.inverted {
  font-size: inherit;
  padding: 25px 70px;
  color: white;
  height: auto;
  border: 3px solid white;
  text-transform: none;
  font-size: 26px;
  font-family: "ambleregular";
}

.button.inverted:hover {
  background: white;
  color: #222;
}

.button.circle {
  padding: 0;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  text-align: center;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  .vertical-centered {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;

  }
  /* Separator */

  .separator {
    position: relative;
    margin-bottom: 1.7em;
    padding-bottom: 1.7em;
    text-align: center;
    font-weight: bold;
    color: inherit;
  }
  .separator:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 86px;
    height: 2px;
    background-color: #222;

    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .separator.orange:before {
    background-color: #d87843;
  }
.separator.white:before {
    background-color: #eee;
  }
section {
  text-align: center;
  padding: 80px 0;
}
section.nav {
  padding: 80px 0 20px 0;
}
.simplify:before {
  background: url("/assets/images/children_pool_sea_wall.jpg");
}
#simplify h5 {
  text-alignment: justify;
  text-justify: inter-word;
}
.creativity:before {
  background: url("/assets/images/children_pool_sea_wall.jpg");
  background-position: 50% 0;
}
.quote:before {
  background: url("/assets/images/children_pool_sea_wall.jpg");
}

.featured-bg-image {
  position: relative;
  background-color: #222222;
  color: white;
  min-height: 500px;
}
.featured-bg-image:before {
  content: '';
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: .35;
}

#consulting {
  background-color: #f4f4f4;
}
.service-image > i.fa {
  font-size: 8rem;
}

.footer {
  background-color: #222222;
  color: white;
}
/*Contact*/

.contact-us {
  background-color: #f2f2f2;
  text-align: left;
}
.contact-us-details {
  padding: 70px;
}
.contact-us-details h5 {
  font-size: 2rem;
}
.contact-us-details .social-links a {
  color: #222;
  display: block;
}

.contact-us-details .social-links li {
  list-style: none;
  float: left;
  font-size: 24px;
  margin-right: 10px;
}
.contact-us-details .social-links li:last-child {
  margin-right: 0;
}
.contact-us-form {
  padding: 70px;
  background-color: #e4e4e4;
}
.contact-us .row {
  margin: 0;
}

/* Work */


/* Work Filters */

.work-filters {
  list-style: none;
}
.work-filters li {
  display: inline-block;
  margin: 0 .5em;
  font-size: 18px;
  text-transform: uppercase;
}
.work-filters li a {
  color: inherit;
  text-decoration: none;
}


/* Work items */

.work-items {
  list-style: none;
  width: 100%;
  display: inline-block;
}
.work-items li {
  position: relative;
  overflow: hidden;
  height: 360px;

  /* important because we need to overwrite the default skeleton */
  margin: 0!important;
  width: 33%;
  border: 10px solid white;

  position: relative;
}
.work-items li:nth-child(4n) {
  margin-left: 0;
}
.work-items li img{
  width: auto;
  height: 100%;
  display: block;
}

/* Work detail */

.work-detail {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;

  opacity: 0;
  background: rgba(0,0,0,.75);
  color: white;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.work-detail h3 {
  font-size: 16px;
  letter-spacing: .05em;
}
.work-detail p {
  font-size: 20px;
  text-transform: capitalize;
  padding-left: 20px;
  padding-right: 20px;
}

.work-items li:hover .work-detail{
  opacity: 1;
  box-shadow: inset 0 0 0 10px #222;
}

/* About */
.people-list {
  list-style: none;
  margin: 70px 0;
  width: 100%;
}
.people-list li {
  position: relative;
  height: 300px;
  overflow: hidden;
}
.people-list li img {
  width: auto;
  height: 100%;
  display: block;
}

.people-list .people-hover {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  background: rgba(0,0,0,.45);

  opacity: 0;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.people-list .people-hover a {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
}

/* About people details */

.people-list .people-detail {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0 20px;
  z-index: 1;
  color: white;
}
.people-list .people-detail h3 {
  font-size: 22px;
  margin-bottom: 0;
}
.people-list .people-detail p {
  font-size: 16px;
}

/* Feature people hiring */

.people-list li.blank-feature{
  box-shadow: inset 0 0 0 3px #222;
}
.people-list li.blank-feature img {
  visibility: hidden;
}
.people-list li.blank-feature h3 {
  font-size: 26px;
}


.people-list li:hover .people-hover{
  opacity: 1;
  box-shadow: inset 0 0 0 5px #222;
}


/* */
.services {
  list-style: none;
  margin: 70px 0;
}
.services .service-image {
  height: 150px;
  margin-bottom: 20px;
}
.services .service-image img{
  display: table-cell;
  display: block;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;

}
.services h5 {

}
.services p {
  font-size: 16px;
  letter-spacing: 0;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons secion and style it
there.
*/


/* Larger than mobile */
@media (max-width: 400px) {
  .button.inverted {
    padding: 15px;
  }
}
@media (min-width: 400px)  and (max-width: 750px) {
  .work-items li.isotope-item.columns {
    width: 100%;
  }
  .people-list li.people-list-item.columns {
    width: 46%;
    margin: 2%;
    box-sizing: content-box;
  }
  .contact-us-details {
    padding: 70px 25px;
    text-align: center;
  }
  .contact-us-details .social-links li {
    text-align: center;
    width: 33%;
    margin: 0;
  }
  .contact-us-details h5 {
    font-size: 1.7rem;
  }

}


/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) and (max-width: 750px) {

  .work-items li.isotope-item.columns {
    width: 50%;
  }
}
/* Larger than mobile */
@media (max-width: 400px) {
  .button.inverted {
    padding: 15px;
  }
}
