a {
  text-decoration: none;
  color: #2268DD;
}
body {
    background: #DFDFCF;
}

#page-header {
  text-align: center;
}
#page-footer {
  margin-top: 10rem;
  text-align: center;
}
@media (min-width: 550px) {
  .post-container {
    text-align: left;
  }
  #page-header {
    text-align: left;
  }
}
.main {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  padding: 1rem;
}
.post-main {
  background-color: rgba(245, 245, 245, 0.3);
}
.post-content > .row {
  padding: 1em 2em;
}
.post-body {
  margin-top: 5px;
}
.top-nav button {
  border: none;
}
.series-main {
  padding: 0.5rem 2rem;
}
.sidebar {
  padding-left: 2em;
}
#about-page {
  padding: 20px 20px 20px 20px
}
.about-page-photo-overlay {
  min-height: 340px;
  background-color: rgba(245, 245, 245, 0.3);
}
.about-page-photo {
  background: url(../images/apairatbeachsm2.jpg);
  background-repeat: no-repeat;
  /*background-size: contain;*/
  background-position: center center;
}
.about-page-content {
  min-height: 340px;
  background-color: rgba(245, 245, 245, 0.3);
  padding-left: 1rem;
}
