.post-container {
  margin-top: 3%;
  margin-left: 3%;
  text-align: center;
}
@media (min-width: 400px) {
  .post-container {
    text-align: left;
  }
}

.post-content > .row {
  padding: 1em 2em;
}
.post-body {
  margin-top: 5px;
}
.top-nav button {
  border: none;
}

.sidebar {
  padding-left: 2em;
}
